header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A1371B;
    padding: 15px 30px;
    font-family: SUIT;
}

body {
    background-color: #FCEFDE;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

#logo img {
    width: 80px;
    height: auto;
}

.nav {
    display: flex;
    gap: 100px;
    color: white;
    font-size: 20px;
    font-family: NanumGothic;

}

.image-banner {
    width: 80%;
    margin-top: 10%;
    margin-left: 10%;
}

.image-banner img {
    width: 40%;
    height: auto;
    border-radius: 5%;
}

.title {
    position: absolute;
    top: 35%;
    left: 52.7%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 3vw;
    font-family: SUIT;
    text-align: justify;
}

.body-text {
    position: absolute;
    top: 49%;
    left: 68.5%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 1vw;
    font-family: NanumGothic;
    text-align: justify;
    width: 45%;
    line-height: 2;
}

.second-title {
    position: absolute;
    top: 65%;
    left: 57.6%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 3vw;
    font-family: SUIT;
    text-align: justify;
}

.secondbody-text {
    position: absolute;
    top: 80%;
    left: 68.7%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 1vw;
    font-family: NanumGothic;
    text-align: justify;
    width: 45%;
    line-height: 2;
}

.third-title {
    position: absolute;
    top: 100%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 3vw;
    font-family: SUIT;
    text-align: justify;
}

.thirdbody-text {
    position: absolute;
    top: 115%;
    left: 68.7%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    font-size: 1vw;
    font-family: NanumGothic;
    text-align: justify;
    width: 45%;
    line-height: 2;
}

.footer {
    background-color: #A1371B;
    padding: 30px;
    margin-top: 10%;
    text-align: center;
    color: white;
    width: 100%;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.footer-icon img {
    width: 50px;
    height: 50px;
}

.footer-icon {
    display: flex;
    gap: 30px;
    align-items: center;
}

.contact-image {
    height: 50px;
}