header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A1371B;
    padding: 15px 30px;
    font-family: SUIT;
}

body {
    background-color: #FCEFDE;
    margin: 0%;
    display: flex;
    flex-direction: column;
}

#logo img {
    width: 80px;
    height: auto;
}

.nav {
    display: flex;
    gap: 100px;
    color: white;
    font-size: 20px;
    font-family: NanumGothic;

}

.nav a {
    color: white;
    text-decoration: none;
}

.title {
    font-size: 3vw;
    align-items: center;
    margin-top: 8%;
    margin-left: 30%;
    font-family: SUIT;
}

.body-text {
    width: 68%;
    margin-top: 1%;
    margin-left: 15%;
    font-size: 1vw;
    font-family: NanumGothic;
    text-align: center;
    line-height: 1.5;
}

.secondtitle {
    font-size: 3vw;
    align-items: center;
    margin-top: 8%;
    margin-left: 30%;
    font-family: SUIT;
}

.secondbody-text {
    width: 68%;
    margin-top: 1%;
    margin-left: 15%;
    font-size: 1vw;
    font-family: NanumGothic;
    text-align: center;
    line-height: 1.5;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.image-banner img {
    width: 70%;
    height: auto;
}

.secondimage-banner img {
    width: 80%;
    height: auto;
}

.thirdimage-banner img {
    width: 70%;
    height: auto;
}

.thirdbody-text {
    width: 68%;
    margin-top: 5%;
    margin-left: 15%;
    font-size: 1vw;
    font-family: NanumGothic;
    text-align: center;
    line-height: 1.5;
}

.fourbody-text {
    width: 68%;
    margin-top: 5%;
    margin-left: 15%;
    font-size: 1vw;
    font-family: NanumGothic;
    text-align: center;
    line-height: 1.5;
}

.fivebody-text {
    width: 68%;
    margin-top: 5%;
    margin-left: 15%;
    font-size: 1vw;
    font-family: NanumGothic;
    text-align: center;
    line-height: 1.5;
}

.footer {
    background-color: #A1371B;
    padding: 30px;
    margin-top: 10%;
    text-align: center;
    color: white;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.footer-icon img {
    width: 50px;
    height: 50px;
}

.footer-icon {
    display: flex;
    gap: 30px;
    align-items: center;
}

.contact-image {
    height: 50px;
}