header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #A1371B;
    padding: 15px 30px;
    font-family: SUIT;
}

body {
    background-color: #FCEFDE;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
}

#logo img {
    width: 80px;
    height: auto;
}

.nav {
    display: flex;
    gap: 100px;
    color: white;
    font-size: 1vw;
    font-family: NanumGothic;

}

.banner-container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container img {
    width: 100%;
    height: auto;
    image-rendering: auto;
}

.banner-text {
    margin-bottom: 25%;
    color: white;
    font-size: 4vw;
    font-family: SUIT;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    text-align: center;
    position: absolute;
}

.foodbanner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foodbanner-container img {
    width: 110%;
    height: auto;

}

.text-container {
    margin-top: 10px;
}

.title {
    width: 50%;
    padding-bottom: 5%;
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-family: SUIT;
    text-align: justify;
}

.body-text {
    width: 80%;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    font-family: NanumGothic;
    text-align: justify;
    line-height: 2;
}

.chili {
    position: relative;
    left: 70%;
    width: 25%;
    height: auto;
}

.kyochon-container {
    display: flex;
    padding-top: 10%;
}

.kyochon-container img {
    width: 57%;
    height: 80%;
    image-rendering: auto;
}

.kyochonmenutitle {
    width: 100%;
    padding-left: 10%;
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-family: SUIT;
    text-align: left;
}

.kyochonmenusubtitle {
    width: 90%;
    padding-left: 10%;
    color: rgb(0, 0, 0);
    font-size: 2vw;
    font-family: SUIT;
    text-align: left;
}

.kyochonmenubodytext {
    width: 80%;
    padding-left: 10%;
    padding-top: 4%;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    font-family: NanumGothic;
    text-align: justify;
    line-height: 2;
}

.image {
    width: 40%;
    height: auto;
    image-rendering: auto;
    padding-right: 50%;
    padding-top: 10%;
    padding-bottom: 2%;
}

.cta-button {
    display: block;
    padding: 10px 60px;
    font-size: 2vw;
    font-family: Arial, sans-serif;
    color: white;
    background: linear-gradient(90deg, #1F4F3D, #A1371B);
    border: none;
    border-radius: 40px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.nanda-container {
    display: flex;
}

.nanda-container img {
    width: 55%;
    height: 80%;
    image-rendering: auto;
}

.nandamenutitle {
    width: 100%;
    padding-left: 10%;
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-family: SUIT;
    text-align: left;
}

.nandamenusubtitle {
    width: 90%;
    padding-left: 10%;
    color: rgb(0, 0, 0);
    font-size: 2vw;
    font-family: SUIT;
    text-align: left;
}

.nandamenubodytext {
    width: 80%;
    padding-left: 10%;
    padding-top: 4%;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    font-family: NanumGothic;
    text-align: justify;
    line-height: 2;
}

.image2 img {
    width: 20%;
    height: auto;
    image-rendering: auto;
    padding-right: 50%;
    padding-top: 10%;
    padding-bottom: 2%;
}

.garlicimage {
    position: relative;
    left: 82%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
}

.garlicimage img {
    width: 130%;
    height: auto;
    image-rendering: auto;
}

.pepperimage {
    position: relative;
    top: 390%;
    left: 82%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: auto;
}

.pepperimage img {
    width: 130%;
    height: auto;
    image-rendering: auto;
}

.jinjja-container {
    display: flex;
}

.jinjja-container img {
    width: 30%;
    height: 80%;
    image-rendering: auto;

}

.jinjjamenutitle {
    width: 100%;
    padding-left: 10%;
    color: rgb(0, 0, 0);
    font-size: 4vw;
    font-family: SUIT;
    text-align: left;
}

.jinjjamenusubtitle {
    width: 90%;
    padding-left: 10%;
    color: rgb(0, 0, 0);
    font-size: 2vw;
    font-family: SUIT;
    text-align: left;
}

.jinjjamenubodytext {
    width: 80%;
    padding-left: 10%;
    padding-top: 4%;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    font-family: NanumGothic;
    text-align: justify;
    line-height: 2;
}

.image3 img {
    width: 25%;
    height: auto;
    image-rendering: auto;
    padding-right: 50%;
    padding-top: 10%;
    padding-bottom: 2%;
}

.footer {
    background-color: #A1371B;
    padding: 30px;
    margin-top: 10%;
    text-align: center;
    color: white;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.footer-icon img {
    width: 50px;
    height: 50px;
}

.footer-icon {
    display: flex;
    gap: 30px;
    align-items: center;
}

.contact-image {
    height: 50px;
}